<div class="container text-center">
    <h1>Over Ons</h1>
    <p>Hey, welkom bij Binkings. Dit is een website voor een fictief bedrijf dus
    dus je hoeft er niet veel van te verwachten. Dus kijk een beetje rond, klik 
    op een paar dingen, je zoekt het maar uit.</p>
</div>
