.avatar-show-img {
  width: 200px;
  height: 200px;
}

.well.profile-block {
  color: #fff;
    h3 {
      margin-top: 0;
    }
}

.well.profile-description {
  background-color: #85D7B4;
  border-color: #4AC29A;
}

.well.profile-contact-info {
  background-color: #85D7B4;
  border-color: #4AC29A;
}